@use './Partial_scss/variable' as *;

body {
    font-family: 'Poppins', sans-serif;

    section {
        margin: 2rem 7rem;
        padding: 0 2rem;
    }

    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: $text-black;
    }

    img {
        width: 100%;
    }
    
}