@use './Partial_scss/variable' as *;

body {
    font-family: 'Poppins', sans-serif;
    ul {
        list-style-type: none;
        a {
            text-decoration: none;
            color: $text-black;
        }
    }

    img {
        width: 100%;
    }

    section {
        margin: 2rem 7rem;
    }
    
}