$text-black: black;
$text-dark-grey: #6D6D6D;
$text-grey: #878787;

$highlighter: #F5D8CA;

$slider-btn: #F5D8CA;
$next-prev: #E1C0B0;

$bulb-icon: #BADAC9;
$balloon-icon: #F8D12D;
$cloud-icon: #80465F;
$pens-icon: #EB6950;

$contact-btn: #D8F0E3;

$article-day: #D8F0E3;
$article-month: #F3D0C7;

$footer-bg: #C0E1CF;





